.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.controls {
  composes: panel from '../../styles/panel.css';
  position: relative;
  padding: 3vw 4vw;
  font-size: 1.5vw;
}

.controls h2 {
  text-align: center;
}

.controls dl  {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
}

.controls dl > * {
  flex: 1 1 20%;
  padding: 0.5vw;
  margin: 0;
}

.controls dt {
  font-weight: bold;
  text-align: right;
}
