.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.linkList {
  composes: panel from '../../styles/panel.css';
  height: fit-content;
  padding: 0;
  /* border-bottom: 2px solid hsl(0deg 0% 80%); */
  margin: 0;
  counter-set: level;
}

.linkList li {
  position: relative;
  overflow: hidden;
  border: 2px solid hsl(0deg 0% 80%);
  list-style: none;
  counter-increment: level;
}

.linkList li::before {
  content: "Level " counter(level);
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5vw 1vw;
  font-size: 2vw;
  font-weight: bold;
}

.linkList a::before {
  content: '';
  display: inline-block;
  width: 3vw;
  height:  3vw;
  margin-right: 3vw;
  background-color: var(--turqoise);
  mask: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 21 19' version='1.1' xmlns='http://www.w3.org/2000/svg' fill='%2300ff5ecc'%3e%3ctitle%3eArrow right%3c/title%3e%3cpath d='M15.0649462,13.4350288 L15.0649462,15.9350288 L12.5651962,15.9350288 L12.5651962,18.4350288 L10.0649462,18.4350288 L10.0649462,15.9350288 L12.5649462,15.9350288 L12.5649462,13.4350288 L15.0649462,13.4350288 Z M12.5651962,0.935028843 L12.5651962,3.43502884 L15.0649462,3.43502884 L15.0649712,5.93495384 L17.5649712,5.93495384 L17.5649712,8.43495384 L20.0649712,8.43495384 L20.0649712,10.9349538 L17.5649712,10.9349538 L17.5649712,13.4352038 L15.0649712,13.4352038 L15.0649712,10.9349538 L0.064971157,10.9349538 L0.064971157,8.43495384 L15.0649712,8.43495384 L15.0649462,5.93502884 L12.5649462,5.93502884 L12.5649462,3.43502884 L10.0649462,3.43502884 L10.0649462,0.935028843 L12.5651962,0.935028843 Z'%3e%3c/path%3e%3c/svg%3e");
  mask-position: center center;
  mask-repeat: no-repeat;

}

.linkList a {
  display: flex;
  align-items: center;
  padding: 3vw 2vw;
  font-size: 1.5vw;
  color: inherit;
  font-weight: 700;
  letter-spacing: -.05em;
  text-decoration: none;
  transition: transform .4s ease-out, color .15s ease-in-out;
  transform: translateX(-5vw);

}

.linkList a:hover{
  transform: translateX(0);
  color: var(--turqoise);
}
.linkList a:hover{
  transform: translateX(0);
  color: var(--turqoise);
}
