.AppBar {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: hsl(0deg 0% 100% / 70%);
}

.stats > div {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.connect {
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  padding: 0.75rem 2rem;
  border: none;
  background-color: hsl(0deg 0% 0%);
  color: white;
  font-family: 'TT Commons Pro Exp', 'Helvetica Neue', arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.connect:disabled {
  opacity: 0.5;
  color: hsl(0deg 0% 20%);
}

.connect:not(:disabled):hover {
  background-color:  hsl(0deg 0% 20%);
}

.connect svg {
  width: 2.5rem;
  height: 2.5rem;
}


.winMessage {
  --color: var(--green);

  position: fixed;
  z-index: 100;
  top: 40%;
  left: 45%;
  font-size: 3rem;
  font-weight: 800;
  text-shadow: 0 0 10px black;
}