.Browser {
  position: fixed;
  top: -2vh;
  right: 2vh;
  display: flex;
  flex-direction: column;
  width: min(160rem, 100vw);
  height: min(100rem, 75vw);
  border: 2.5px solid hsla(0deg 0% 90%);
  background-color: hsl(0deg 0% 100% / 80%);
  transform: scale(0.5) ;
  transform-box: fill-box;
  transform-origin: right;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}


.header {
  display: block;
  padding: 0.5rem 2rem;
  margin: 1rem 2rem;
  background-color: hsla(0deg 0% 50% / 10%);
  font-size: 1rem;
  font-weight: 300;
  border-radius: 1rem;
  border-radius: 2rem;
}

.Browser :global(.drop-zone)::before {
  content: attr(component-id);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  text-indent: 0;
}

.Browser :global(.drop-zone) {
  min-width: 4rem;
  text-indent: -999999px;
}

.Browser :global(.drop-zone.hover) {
  box-shadow: inset 0 0 2rem var(--player-color);
}
