.CodeEditor {
  width: min(40vw);
  height: min(48vw, 48vh);
  background-color: hsl(0deg 0% 0% / 90%);
  color: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  position: relative;
}

.header {
  display: block;
  width: 100%;
  padding: 0.5rem;
  background-color: hsl(0deg 0% 10%);
  text-align: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.CodeEditor pre {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(min(48vw, 48vh) - 3.5rem);
  padding: 1rem;
}

.CodeEditor pre > code {
  display: block;
  font-size: 1vw;
}

.selected {
  background-color: hsla(0deg 0% 50% / 20%);
}

.element {
  color: var(--purple);
  font-weight: bold;
}

.element::before {
  content: '<';
  color: hsla(0deg 0% 50% / 60%);
}

.text {
  color: var(--green);
}

.text::before,
.text::after {
  content: '"';
}

.class {
  color: var(--yellow);
  font-weight: bold;
}

.class::before {
  content: '.';
  color: hsla(0deg 0% 50% / 60%);
}

.forEach {
  color: var(--turqoise);
}

.foreEachValue {
  color: var(--pink);
}

.componentSlot {
  color: var(--pink);
  text-transform: capitalize;
}

.componentSlot::before {
  content: '<';
  color: hsla(0deg 0% 50% / 60%);
}

.componentSlot::after {
  content: ' />';
  color: hsla(0deg 0% 50% / 60%);
}

.commitButton {
  position: absolute;
  top: 3rem;
  right: 1rem;
  min-width: 12.5rem;
  padding: 0.5rem;
  border: none;
  background-color: hsl(200deg 100% 35%);
  color: white;
  border-radius: 0.25rem;
}

.commitButton:disabled {
  background-color: hsl(200deg 100% 20%);
}

.commitButton:not(:disabled):global(.hover) {
  background-color: hsl(200deg 100% 45%);
}

.commitButton:not(:disabled)::after {
  content: '▶';
  position: absolute;
  right: 0;
  width: 1.5rem;
  height: 1.5rem;
  padding-left: 0.15rem;
  border: 1px solid hsl(0deg 0% 0% / 90%);
  margin: 0 0.75rem;
  background-color: hsl(0deg 0% 25% / 50%);
  color: hsl(0deg 0% 0% / 90%);
  line-height: 1.5rem;
  text-align: center;
  border-radius: 1.5rem;
}

.error :first-child {
  text-decoration: underline wavy red;
}

.openTickets {
  position: absolute;
  bottom: 0;
  left: calc(min(48vw, 48rem) + 1vw);
  overflow: hidden;
  width: 50vw;
  height: 16vw;
  color: black;
}

.openTickets > header {
  /* font-size: 1.5rem; */
  font-weight: bold;
}

.openTickets > div {
  position: absolute;
  bottom: -1rem;
  left: 0.5rem;
  display: flex;
  gap: 2vw;
  transform: scale(0.5);
  transform-origin: top left;
}

.openTicket {
  position: relative;
  height: 4vw !important;
}

.openTicket > footer {
  display: none;
}

.openTicketComponent {
  display: none;
}
