.website {
  position: relative;
  right: -25vw;
  bottom: calc(-25vh + 82.5px);
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  border: 2.5px solid hsla(0deg 0% 90%);
  background-color: white;
  transform: scale(0.5);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.website :global(.scrollable) {
  overflow-y: scroll;
}

.header {
  display: block;
  padding: 0.5rem 2rem;
  margin: 1rem 2rem;
  background-color: hsla(0deg 0% 50% / 10%);
  font-size: 1rem;
  font-weight: 300;
  border-radius: 1rem;
  border-radius: 2rem;
}

.website :global(.drop-zone) {
  flex: 1;
  min-width: 2rem;
  min-height: 1rem;
  border: 2px dashed hsla(0deg 0% 50% / 50%) !important;
  color: transparent;
}

.website :global(.drop-zone) > * {
  visibility: hidden !important;
}

.website :global(.drop-zone.red) {
  box-shadow: inset 0 0 2rem red;
}

.website :global(.drop-zone.blue) {
  box-shadow: inset 0 0 2rem blue;
}

.website :global(.drop-zone.yellow) {
  box-shadow: inset 0 0 2rem yellow;
}

.website :global(.drop-zone.green) {
  box-shadow: inset 0 0 2rem green;
}
