.player {
  position: fixed;
  z-index: 9001;
  top: 0;
  left: 0;
  width: 8vw;
  height: 8vw;
  border: 5px solid currentcolor;
  background-color: currentcolor;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translate(-4vw, 2vw);

}

.player::before {
  content: '\25BB';
  position: absolute;
  top: -4vw;
  left: 2vw;
  color: currentcolor;
  font-size: 4vw;
  transform: rotate(-110deg);
}

.playerOption {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 1rem;
}

.playerOptionImg {
  width: 3rem;
  border-radius: 3rem;
  height: 3rem;
  object-position: top;
  object-fit: cover;
}

.selected {
  background-color: hsla(0deg 0% 50% / 50%);
}

.currentComponent {
  z-index: -1;
  top: 1vw;
  left: 4vw;
  color: black;
  transform-origin: top left;
}

.currentComponent > * {
  transform: translate(-50%, -50%) scale(var(--scale));
  transform-origin: center;
}