.player {
  position: fixed;
  z-index: 9001;
  top: 0;
  left: 0;
  width: 8vw;
  height: 8vw;
  border: 5px solid currentcolor;
  background-color: currentcolor;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translate(-4vw, 2vw);

}

.player::before {
  content: '\25BB';
  position: absolute;
  top: -4vw;
  left: 2vw;
  color: currentcolor;
  font-size: 4vw;
  transform: rotate(-110deg);
}

.playerOption {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 1rem;
}

.playerOptionImg {
  width: 3rem;
  border-radius: 3rem;
  height: 3rem;
  object-position: top;
  object-fit: cover;
}

.selected {
  position: relative;
  align-items: center;
  background-color: hsla(0deg 0% 50% / 50%);
}

.selected::after {
  content: '▶';
  position: absolute;
  right: 0;
  width: 1.5rem;
  height: 1.5rem;
  padding-left: 0.15rem;
  border: 1px solid hsl(0deg 0% 0% / 90%);
  margin: 0 0.75rem;
  background-color: hsl(0deg 0% 25% / 50%);
  color: black;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  border-radius: 1.5rem;
}
