.location {
  position: relative  ;
  left: 0;
  transition: left 0.1s ease, bottom 0.3s ease;
  transform: rotate(calc(var(--rotation) * 1rad));
  transform-box: fill-box;
  width: 4vw;
  height: 4vw;
  transform-origin: center;
}

.Ticket {
  position: relative;
  width: 24vw;
  height: 16vw;
  background-color: hsl(0deg 0% 100% / 95%);
  box-shadow: 0 0 1.5rem var(--player-color, black);
}

.Ticket:global(.hover) {
  z-index: 11;
}

.Ticket > header::before {
  content: '';
  width: 2vw;
  height: 2vw;
  border-radius: 2vw;
}

.Ticket:global(.specified) > header::before {
  background-color: hsl(223deg 12% 89% / 75%);
}

.Ticket:global(.coded) > header::before {
  background-color: var(--yellow);
}

.Ticket:global(.ready) > header::before {
  background-color: var(--green);
}

.component {
  position: absolute;
  overflow: hidden;
  box-sizing: content-box;
  width: max-content;
  max-height: 800px;
  transform: translate(2vw, 0) scale(var(--scale));
  transform-box: fill-box;
  transform-origin: top left;
}

.info {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1vw;
  border: 1px solid hsl(0deg 0% 80%);
  color: black;
  gap: 1vw;

  /* transform: translateX(-12vw); */
}

.name {
  flex: 1;
  font-size: 1.5rem;
}

.id {
  font-size: 1.5rem;
  font-weight: bold;
}

.points {
  min-width: 0.75rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  background-color: hsl(223deg 12% 89%);
  color: hsl(218deg 54% 20%);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
  border-radius: 1.25rem;
}

.footer {
  position: absolute;
  bottom: 0;;
  display: flex;
  width: 100%;
  padding: 1vw;
  background-color: hsl(223deg 12% 89% / 75%);
  font-weight: bold;
}

.footer > * {
  flex: 1;
}