.Ticket {
  position: absolute;
  left: 0;
  transition: left 0.1s ease, bottom 0.3s ease;
  transform: rotate(calc(var(--rotation) * 1rad));
  transform-box: fill-box;
  width: 4vw;
  height: 4vw;
  transform-origin: center;
}

.Ticket > .component {
  position: absolute;
  box-sizing: content-box;
  width: max-content;
  border: calc((1/var(--scale)) * 40px) solid transparent;
  transform: translate(-50%, -3.7%)  scale(var(--scale));
  transform-box: fill-box;
  transform-origin: top center;
}

.Ticket > .component::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 calc((1/var(--scale)) * 2.5rem) calc((1/var(--scale)) * 0.5rem) var(--player-color, black);
  background-color: hsl(0deg 0% 100% / 95%);
}

.Ticket > * > * {
  overflow: hidden;
  max-height: 800px;
}

.info {
  position: relative;

  /* z-index: 2; */
  bottom: 2vw;
  display: flex;
  align-items: center;
  width: 24vw;
  height: 4vw;
  padding: 2vw;
  border: 1px solid hsl(0deg 0% 80% );
  background-color: hsl(0deg 0% 100% );
  color: black;
  gap: 1vw;
  transform: translateX(-12vw);
}

/* .name {

} */

.id {
  font-size: 1.5rem;
  font-weight: bold;
}