@import url('./fonts.css');

.app {
  --purlpe: hsl(318deg 100% 67% / 90%);
  --yellow: #ffd500;

  height: 100vh;
  font-family: 'TT Commons Pro Exp', 'Helvetica Neue', arial, sans-serif;
  font-size: 1.25rem;
}

.app::before {
  content: "";
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background-image: url('/images/background-purple.png');
  background-position: bottom;
  background-size: cover;
  opacity: 0.2;
}

.app > header {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: hsl(0deg 0% 100% / 70%);
}

.stats > div {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.connect {
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  padding: 0.75rem 2rem;
  border: none;
  background-color: hsl(0deg 0% 0%);
  color: white;
  font-family: 'TT Commons Pro Exp', 'Helvetica Neue', arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.connect:disabled {
  opacity: 0.75;
}

.connect:not(:disabled):hover {
  background-color:  hsl(0deg 0% 20%);
}

.connect svg {
  width: 2.5rem;
  height: 2.5rem;
  color: white;
}

.app :global(.scrollable) {
  overflow-y: scroll;
}

.app :global(.drop-zone) {
  position: relative;
  flex: 1;
  min-width: 2rem;
  min-height: 1rem;
  border: 2px dashed hsla(0deg 0% 50% / 50%) !important;
}

.app :global(.drop-zone) > *:not(:global(.component-id)) {
  visibility: hidden !important;
}

.app :global(.drop-zone .component-id) {
  display: block;
}

.app :global(.component-id) {
  position: absolute;
  top: 0;
  left: 50%;
  display: none;
  display: block;
}