@font-face {
  font-display: swap;
  font-family: "TT Commons Pro Exp";
  font-style: normal;
  font-weight: 400;
  src: url('/static/labdigital/fonts/TTCommonsProExp-Rg.9c68738f9340.woff2')
    format('woff2'),
    url('/static/labdigital/fonts/TTCommonsProExp-Rg.0b9913b13674.woff')
    format('woff');
}
@font-face {
  font-display: swap;
  font-family: "TT Commons Pro Exp";
  font-style: italic;
  font-weight: 400;
  src: url('/static/labdigital/fonts/TTCommonsProExp-It.7cd6e85d2aa7.woff2')
    format('woff2'),
    url('/static/labdigital/fonts/TTCommonsProExp-It.689dc8b0d0bb.woff')
    format('woff');
}
@font-face {
  font-display: swap;
  font-family: "TT Commons Pro Exp";
  font-style: normal;
  font-weight: 700;
  src: url('/static/labdigital/fonts/TTCommonsProExp-Bd.b7e4d250b458.woff2')
    format('woff2'),
    url('/static/labdigital/fonts/TTCommonsProExp-Bd.4536687fca1e.woff')
    format('woff');
}
@font-face {
  font-display: swap;
  font-family: "TT Commons Pro Exp";
  font-style: italic;
  font-weight: 700;
  src: url('/static/labdigital/fonts/TTCommonsProExp-BdIt.dd9da90057eb.woff2')
    format('woff2'),
    url('/static/labdigital/fonts/TTCommonsProExp-BdIt.05fc067fc1d2.woff')
    format('woff');
}

.overhang-container,
.overhang-container > *,
.overhang-text {
  position: relative;
}

.overhang-text {
  top: calc(var(--font-size) * 0.2);
}

.app {
  --purlpe: hsl(318deg 100% 67% / 90%);
  --yellow: #ffd500;

  height: 100vh;
  background-image: url('/images/background-purple.png');
  background-position: bottom;
  background-size: cover;
  font-family: 'TT Commons Pro Exp', 'Helvetica Neue', arial, sans-serif;
  font-size: 1.25rem;
}

.app > header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.connect {
  display: inline-flex;
  align-items: center;
  height: 3.5rem;

  /* justify-content: space-around; */
  padding: 0.5rem 2rem;
  border: none;
  background-color: black;
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 2rem;
  cursor: pointer;
}


.playerContainer {
  /* display: flex; */

  /* position: relative; */

  /* height: calc(100vh - 100px); */
}

.playerContainer > * {
  /* flex: 1;
  position: absolute; */
}
