@import url('./fonts.css');

.app {
  --purlpe: hsl(318deg 100% 67% / 90%);
  --yellow: #ffd500;

  height: 100vh;
  background-image: url('/images/background-purple.png');
  background-position: bottom;
  background-size: cover;
  font-family: 'TT Commons Pro Exp', 'Helvetica Neue', arial, sans-serif;
  font-size: 1.25rem;
}

.app > header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: hsl(0deg 0% 100% / 90%);
}

.app > header button {
  font-family: 'TT Commons Pro Exp', 'Helvetica Neue', arial, sans-serif;
}

.connect {
  display: inline-flex;
  align-items: center;
  height: 3.5rem;
  padding: 0.5rem 2rem;
  border: none;
  background-color: black;
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 2rem;
  cursor: pointer;
}

.app :global(.scrollable) {
  overflow-y: scroll;
}

.app :global(.drop-zone) {
  flex: 1;
  min-width: 2rem;
  min-height: 1rem;
  border: 2px dashed hsla(0deg 0% 50% / 50%) !important;
  color: transparent;
}

.app :global(.drop-zone) > * {
  visibility: hidden !important;
}