.root {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}

.stats {
  display: flex;
  padding: 2rem;
  font-size: 2rem;
  gap: 3rem;
}

.stats > div {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.stats strong {
  min-width: 8rem;
}

.connect {
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  padding: 0.75rem 2rem;
  border: none;
  background-color: hsl(0deg 0% 0%);
  color: white;
  font-family: 'TT Commons Pro Exp', 'Helvetica Neue', arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.connect:disabled {
  opacity: 0.5;
  color: hsl(0deg 0% 20%);
}

.connect:not(:disabled):hover {
  background-color:  hsl(0deg 0% 20%);
}

.connect svg {
  width: 2.5rem;
  height: 2.5rem;
}
