@import url('./fonts.css');

html {
  font-size: 1vh;
}

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: 'TT Commons Pro Exp', 'Helvetica Neue', arial, sans-serif;
  font-size: 1.25rem;
}

:root {
  --purple: hsl(259deg 94% 80% / 90%);
  --yellow: hsl(50deg 100% 50%);
  --green: hsl(142deg 100% 50% / 80%);
  --pink: hsl(318deg 100% 67% / 90%);
  --turqoise: hsl(181deg 93% 47% / 90%);
  --red: hsl(354deg 70% 54%);

}

[data-nextjs-scroll-focus-boundary] {
  width: 100%;
  height: 100%;
}
[data-nextjs-scroll-focus-boundary] > * {
  width: 100%;
  height: 100%;
}