
.root {
  display: flex;
  flex-direction: column;
}

.root [data-action-zone='component-slot'] {
  position: relative;
  flex: 1;
  min-width: 2rem;
  min-width: 4rem;
  min-height: 1rem;
  border: 2px dashed hsla(0deg 0% 50% / 50%) !important;
  text-indent: -999999px;
}

.root [data-action-zone='component-slot'] > * {
  visibility: hidden !important;
}

.playerTicket {
  z-index: -1;
  top: 1vw;
  left: 4vw;
  color: black;
  transform-origin: top left;
}

.container {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex: 1 1;
  justify-content: space-between;
  width: calc(100% - var(--browser-scale) * 1200px - 4rem);
  height: calc(100% - 10rem);
}

.bottomPanels {
  display: flex;
  align-items: flex-end;
  padding: 1vw;
  gap: 1vw;
}


.workspaces {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
}

.workspaces > div {
  display: flex;
  gap: 2rem;
  flex: 1;
}

.computer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem;
  background-color: hsla(0deg 0% 100% / 75%);
  gap: 2rem;
}

.computer svg {
  width: 8rem;
  height: 8rem;
  fill: var(--player-color, gray);
}

.computer svg:global(.active) {
  fill: var(--player-color, black);
}

.winMessage {
  --color: var(--green);
}

.winMessage em,
.loseMessage em {
  width: min-content;
  font-size: 3rem;
  font-weight: 800;
  text-shadow: 0 0 10px black;
  transform-origin: top left;
}

.loseMessage {
  --color: var(--red);
}
