.toggle {
  position: fixed;
  z-index: 1;
  top: 2.5rem;
  left: 2.5rem;
  display: block;
  width: 3rem;
  height: 3rem;
  padding: 0;
  border: none;
  background: url('/icons/icon-menu.svg') no-repeat center center;
  background-size: 80%;
  color: transparent;
  cursor: pointer;
}

.root {
  composes: panel from './panel.css';
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 48rem;
  height: 100%;
  border-left: none;
  font-size: 4rem;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.divider {
  display: block;
  width: 50%;
  height: 1rem;
  composes: panel from './panel.css';
}

.open {
  transform: translateX(0);
}

.root a {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  padding: 2rem 4rem;
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.selected,
.root a:global(.hover),
.root a:focus {
  color: var(--player-color);
}

.selected::before,
.root a:global(.hover)::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--player-color, var(--turqoise,white));
  opacity: 0.3;
}

.players {
  padding: 2rem 4rem;
  font-size: 2rem;
}