.toggle {
  position: fixed;
  top: 2.5rem;
  left: 2.5rem;
  display: block;
  width: 3rem;
  height: 3rem;
  padding: 0;
  border: none;
  background: url('/icons/icon-menu.svg') no-repeat center center;
  color: transparent;
  cursor: pointer;
  z-index: 1;
}

.root {
  composes: panel from './panel.css';
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 4rem;
  transform: translateX(-100%);
  transition: all 0.3s ease;
  z-index: 1;
  border-left: none;
  width: 48rem;
}

.divider {
  composes: panel from './panel.css';
  width: 50%;
  height: 1rem;
  display: block;
}

.open {
  transform: translateX(0);
}

.root a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  padding: 2rem 4rem;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.root a:global(.hover),.root a:focus {
  color: var(--player-color);
}
.root a:global(.hover)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-color: var(--player-color);
}




.players {
  padding: 2rem 4rem;
  font-size: 2rem;
}