.root {
  --gap: 4rem;
  --explanation-height: 10rem;

  display: flex;
  flex-direction: column;
  max-height: 100%;
  gap: var(--gap);
  padding: 4rem;
}

.list {
  composes: panel from './panel.css';
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-height: 60rem;
  padding: 2rem;
  scroll-padding: 2rem;
  gap: 2rem;
}

.explanation {
  composes: panel from './panel.css';
  width: 60rem;
  height: 20rem;
  padding: 2rem;
  margin: 0 auto;

  /* height: var(--explanation-height); */
}

.profile {
  position: relative;
  display: flex;
  flex: 0 0 8rem;
  flex-direction: column;
  overflow: hidden;
  padding: 0;
  outline: 1rem solid var(--player-color, var(--color, transparent));
  background: none;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}

.profile > div {
  position: relative;
  width: 8rem;
  height: 8rem;

}

.profile > div::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 1.5rem var(--player-color, black);
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}

.profile:global(.hover) {
  box-shadow: 0 0 0.5rem var(--player-color, black);
}

.profile img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top center;
}

.profile span {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  padding: 1rem;
  background-color: hsl(0deg 0% 100% / 80%);
  text-align: center;
}
