
.root {
  color: black;
  font-weight: bold;
  transform: scale(1);

  /* animation: anim-wishlist 0.8s forwards; */
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.change {
  color: var(--color);
  transform: scale(4);
}


@keyframes anim-wishlist {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.32);
  }

  100% {
    transform: scale(1);
  }
}
