
.root {
  color: black;
  font-weight: bold;
  transform: scale(1);

  /* animation: anim-wishlist 0.8s forwards; */
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.change {
  color: var(--color);
  transform: scale(4);
}

.panel {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100rem;
  height: 50rem;
  padding: 8rem;
  composes: panel from './panel.css';
  transform: translate(-50%, -50%);
  background-color: hsl(0deg 0% 10% / 20%);

}

.panel p {
  margin: 0;
  font-size: 4rem;
}

@keyframes anim-wishlist {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.32);
  }

  100% {
    transform: scale(1);
  }
}
