.root {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  padding: 2rem;
  background-color: hsl(0deg 0% 100% / 50%);
  color: black;
  gap: 2rem;
}

.root > header {
  font-size: 3rem;
  font-weight: bold;
}

.root > div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transform: scale(0.5);
  transform-origin: top left;
}

.openTicket {
  position: relative;
  height: 4vw !important;
}

.openTicket > footer {
  display: none;
}

.openTicketComponent {
  display: none;
}
