.root {
  position: relative;
  overflow: hidden;
  width: 50vw;
  height: 16vw;
  color: black;
}

.root > header {
  font-size: 1.5rem;
  font-weight: bold;
}

.root > div {
  position: absolute;
  bottom: -1rem;
  left: 0.5rem;
  display: flex;
  gap: 2vw;
  transform: scale(0.5);
  transform-origin: top left;
}

.openTicket {
  position: relative;
  height: 4vw !important;
}

.openTicket > footer {
  display: none;
}

.openTicketComponent {
  display: none;
}
